<% if user_signed_in? %>
  <p><%= link_to 'New Blog Post', new_blog_post_path %></p>
<%end%>
<h1>Blog Posts</h1>

<% @blog_posts.each do |blog_post| %>
  <div class="blog-post">
    <h2><%= link_to blog_post.title, blog_post %></h2>
    <p><%= truncate(blog_post.content, length: 200) %></p>
    <% if blog_post.image_url.present? %>
      <%= image_tag blog_post.image_url, class: "blog-post-image" %>
    <% end %>
    <p>
      <%= link_to 'Show', blog_post %>
      <% if user_signed_in? && current_user == blog_post.user %>
        <%= link_to 'Edit', edit_blog_post_path(blog_post) %>
        <%= link_to 'Delete', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  </div>
<% end %>
